@keyframes screen_ani {

    0%,
    25% {
        opacity: 0;
    }

    75%,
    100% {
        opacity: 1;
    }
}

@keyframes splash_ani {

    0%,
    25%,
    50% {
        opacity: 1;
    }

    75%,
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes noti_ani {

    0%,
    100% {
        transform: translateY(-2px) rotateY(180deg);
    }

    50% {
        transform: translateY(-6px);
    }
}

@keyframes nav_ani {

    0%,
    10% {
        transform: translateY(40px);
        color: var(--main-color);
    }

    75%,
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes cog_ani {

    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}

@keyframes heart_ani {
    from {
        transform: scale(2);
        color: violet;
    }

    to {
        transform: scale(1);
    }
}

@keyframes chating_ani_left {

    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    75%,
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes chating_ani_right {

    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    75%,
    100% {
        opacity: 1;
        transform: none;
    }
}