.nav {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 20px 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-color);
}

.nav-list {
    width: 25%;
    display: flex;
    justify-content: center;
    margin: 0px 22px;
    animation: nav_ani 0.5s ease-in-out forwards;
    opacity: 0;
}

.nav-list__link {
    font-size: var(--font-size-h1);
    color: var(--sub-color);
    transition: all 0.5s ease-in-out;
    position: relative;
}

.nav-list:first-child {
    animation-delay: 0.5s;
}

.nav-list:nth-child(2) {
    animation-delay: 0.6s;
}

.nav-list:nth-child(3) {
    animation-delay: 0.7s;
}

.nav-list:last-child {
    animation-delay: 0.8s;
}


.nav-list__link:hover {
    color: white;
}

.nav-list__noti {
    position: absolute;
    top: -2px;
    right: -10px;
    animation: noti_ani 1.5s ease-in-out infinite;
}

.nav-list__new {
    position: absolute;
    top: -4px;
    right: -4px;
}