.friends-name {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 40px;
    background-color: var(--sub-color);
    font-size: var(--font-size-h3);
}

.friends-name a {
    margin-left: 4px;
    margin-right: 8px;
    color: var(--main-color);
}

.channel-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0px;
    margin: 0px 20px;
    font-size: var(--font-size-h3);
    color: var(--sub-color);
    border-top: var(--border);
}

.user-info__img-friends {
    width: var(--img-size-sm);
    height: var(--img-size-sm);
    border-radius: 36%;
}

.user-info__name-friends {
    font-size: var(--font-size-h3);
    margin-left: 18px
}

.user-info__name-friends-2 {
    display: flex;
    align-items: center;
    font-size: var(--font-size-h3);
    color: var(--sub-color);
}

.user-info__name-friends-2 div {
    margin-right: 8px;
}

.splash {
    background-color: var(--main-color);
    color: white;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    animation: splash_ani 1.5s ease-in-out forwards;
}