.setting-list {
    padding-top: 82px;
}

.setting-list__li {
    margin: 0px 12px;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--font-size-h2);
    border-bottom: 1px solid rgba(var(--rgba-sub2));
}

.setting-list__li i {
    margin-right: 16px;
    width: 24px;
    text-align: center;
}

.setting-list__line {
    height: 1px;
    background-color: rgba(var(--rgba-sub));
    margin: 20px 0px;
}

.setting-list__li:nth-child(3),
.setting-list__li:last-child {
    border-bottom: none;
}

.settings-color {
    color: var(--sub-color);
}

.status-bar-fixed-backcolor__setting {
    background-color: white;
}